/*Importacion de fuentes*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

/*Normalizar*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body {
  background-color: rgb(177, 215, 233);
  background-image: url(assets/imagen/img2.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center; /* Centra la imagen horizontal y verticalmente */
  margin-top: 18%;
  width: 100%;
  height: 30%;
}

.contenedor-aplicacion {
  margin-top: 1%;
  display: flex;
  transform: translate(270px, -150px);
  width: 60%;
  height: 100%;
  border: 1px solid red;
}

.contenedor-izquierdo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  border: 1px solid green;
}

.contenedor-izquierdo .contenedor-agrega {
  width: 100%;
  height: 100%;
  border: 5px solid black;
}

.contenedor-filtro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 60px;
  width: 80%;
  border: 1px solid violet;
  transform: translateX(8%);
}
.input-filter{
  transform: translateX(16%);
}
.contenedor-agrega {
  display: flex;
  flex-direction: column;
  margin-bottom: 15%;
  padding: 20px;
  text-align: left;
  margin: auto;
  width: 50%;
}

.formulario {
 width: 100%;
  border-collapse: separate;
  border-spacing: 5px 15px;
  border: 1px solid blue;
}

.input-formulario {
  margin-left: 5%;
  margin-top: 0px;
  width: 100%;
}

.fila-formulario {
  margin-bottom: 30px;
}

.datos-formulario {
  padding-left: 50px;
}

.etiqueta-formulario {
  color: brown;
}

.btn {
  width: 200px;
  height: 20px;
  background-color: blue;
  color: white;
  border-radius: 10px;

}

.btn-agrega {
  width: 80%;
  height: 8%;
  background-color: blue;
  color: white;
  border-radius: 10px;
  transform: translate(60px);

}

.btn-mostrar-todo {
  width: 200px;
  height: 8%;
  background-color: blue;
  color: white;
  border-radius: 10px;
  transform: translateY(11px);
  transform: translateX(13%);

}

.contenedor-lista {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: right;
  justify-items: center;
}

.contenedor-lista li {
  align-items: right;
  padding-left: 2rem;
  border: 3px solid white;
  list-style: none;
}

.btn-eliminar{
  transform: translateX(100%);
}

.contenedor-derecho{
  align-items: center;
  width: 50%;
  height: 100%;
  border: 4px solid brown;
}